{{ define "404-page" }}
<!DOCTYPE html>
<html data-bs-theme="dark" lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 - Not Found!</title>
    <link href="https://cdn.jsdelivr.net/npm/fastbootstrap@2.2.0/dist/css/fastbootstrap.min.css" rel="stylesheet"
          integrity="sha256-V6lu+OdYNKTKTsVFBuQsyIlDiRWiOmtC8VQ8Lzdm2i4=" crossorigin="anonymous">
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
</head>
<body>

<div class="d-flex justify-content-center align-items-center" style="width: 100%; height: 100%">
    <h1 class="h1">404 - NOT FOUND :(</h1>
</div>

</body>
</html>
{{ end }}