{{ define "home-page" }}
<!DOCTYPE html>
<html data-bs-theme="dark" lang="en">
<head>
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/fastbootstrap@2.2.0/dist/css/fastbootstrap.min.css" rel="stylesheet"
          integrity="sha256-V6lu+OdYNKTKTsVFBuQsyIlDiRWiOmtC8VQ8Lzdm2i4=" crossorigin="anonymous">
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <script src="https://unpkg.com/htmx-ext-json-enc@2.0.1/json-enc.js"></script>
</head>

<body>
{{ template "navbar" }}

<div class="d-flex flex-row col-12 m-4 justify-content-center align-items-center">
    {{ range . }}
    {{ template "terrarium-card-component" . }}
    {{ end }}
</div>
</body>

</html>
{{ end }}