<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Dashboard</title>
        <link rel="stylesheet" type="text/css" href="../assets/Styles.css">
        <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    </head>

<body class="mocha">
    <h1>Amber</h1>
    <h4>Feed Cycle</h4>
    <p>Next feeding: Monday</p>
    <h4>Maintenance Cycle</h4>
    <p>Next Maintenance: Tomorrow</p>
    <h4>Winter break Cycle</h4>
    <p>Next Winter break: November</p>

    <button>Edit</button>
    <button>Remove</button>
</body>

</html>